$background-white: #FAF9F6;
$background-secondary: #f4f4f4;
$primary: #FFA500;
$secondary: #111D5E;

*{
    box-sizing: border-box;
}

body {
    background-color: $background-white;
    color: $secondary;
}

h2{
    text-align: center;
    color: $primary;
}


nav{
    .brand{
        display: inline-block;
        color: $primary;
    }
    
    ul {
        display: inline-block;

        li {
            display: inline-block;
            a{
                text-decoration: none;
                color: $secondary;
                padding: 0 5px;
            }
        }
    }
}

.hero{
    height: 500px;
    background-color: $secondary;
    color: $primary;
    position: relative;
    
    .hero-text{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}

section{
    margin: 20px 30px;
}

section:nth-of-type(odd){
    background-color: $background-secondary;
}

footer{
    background-color: $secondary;
    height: 200px;
    ul{
        li{
            display: inline-block;
            a{
                text-decoration: none;
                color: $primary;
                padding: 0 5px;
            }
        }
    }
}